* text=auto eol=lf
*.patch text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.svg text eol=lf
s25-desktop/container/bin/* text eol=lf
